ENV_DIR="./.env"

# Set the default environment to `dev` if DIRENV_ENV is not set
export DIRENV_ENV="${DIRENV_ENV:-dev}"

# Define the environment file based on DIRENV_ENV
ENV_FILE="$ENV_DIR/.env.${DIRENV_ENV}"

if [ -f "$ENV_FILE" ]; then
  export $(grep -v '^#' "$ENV_FILE" | xargs)
  echo "Loaded environment: $ENV_FILE"
else
  echo "Environment file $ENV_FILE not found. Aborting."
  exit 1
fi
