{% extends "base.html" %} {% block content %} 
<span class="text-danger"><h1>Delete</h1></span>

<p>This will delete {{ page.title }}. <br />
This action cannot be undone.</p>

<span class="text-danger display-6">Are you sure?</span>
<form action="{% url 'pages:delete' page.slug %}" method="post" class="mt-4">
    {% csrf_token %}
    <input class ="btn btn-sm btn-danger" type="submit" value="Delete">
    <a href="{% url 'pages:page' page.slug %}"><button type="button" class="btn btn-outline-secondary btn-sm ">Cancel</button></a>
{% endblock %}