{% extends "base.html" %} {% load static %}

{% block head %}
{{ form.media }}
<script src="{% static 'netctrl/js/tinymce_init.js' %}"></script>
<!-- inside head block -->

{% endblock head %}

{% block content %}
<form action="/pages/edit/{{ page.slug }}/" method="post">
    {% csrf_token %}
    {{ form }}
    <input class ="btn btn-sm btn-primary" type="submit" value="Save">
    <a href="{% url 'pages:pages' %}"><button type="button" class="btn btn-outline-secondary btn-sm">Cancel</button></a>
</form>
{% endblock %}
