{% extends 'base.html' %}
{% load static %}

{% block title %}{% if form.instance.pk %}Edit Page{% else %}Create Page{% endif %}{% endblock %}

{% block content %}
<div class="container mt-4">
    <h1>{% if form.instance.pk %}Edit Page{% else %}Add Page{% endif %}</h1>
    <form method="post">
        {% csrf_token %}
        {{ form.as_p }}
        <button type="submit" class="btn btn-success">Save</button>
        <a href="{% url 'wiki:wiki_list' %}" class="btn btn-secondary">Cancel</a>
    </form>
</div>

<script src="{% static 'tinymce/tinymce.min.js' %}"></script>
<script>
    tinymce.init({
        selector: 'textarea',
        height: 500,
        plugins: 'link image code',
        toolbar: 'undo redo | styleselect | bold italic | alignleft aligncenter alignright | link image | code'
    });
</script>
{% endblock %}

