{% extends "test/base.html" %}

{% block content %}
<div class="container mt-3">
    <canvas id="myChart" data-chart></canvas>
</div>

<script src="https://cdn.jsdelivr.net/npm/chart.js"></script>
<script>
    const ctx = document.getElementById('myChart');
    const data = {{ chart_data|safe }};
    new Chart(ctx, {
        type: 'line',
        data: {
            labels: data.labels,
            datasets: [{
                label: 'Test Data',
                data: data.values,
                borderWidth: 1
            }]
        }
    });
</script>
{% endblock %}
