{% extends "test/base.html" %}

{% block content %}
<div class="container mt-3">
    <div id="error-message" class="alert alert-danger" style="display: none;">
        Request too large
    </div>
    <form hx-post="{% url 'tests:test-network-failure' %}" hx-trigger="submit">
        <div class="mb-3">
            <label for="name" class="form-label">Name</label>
            <textarea class="form-control" id="name" name="name"></textarea>
        </div>
        <button type="submit" class="btn btn-primary">Submit</button>
    </form>
</div>
{% endblock %}
