{% extends "base.html" %}

{% block content %}
<div class="container mt-5 text-center">
    <h1 class="display-4 text-danger">403 Forbidden</h1>
    <p class="lead">You do not have the necessary permissions to access this page.</p>
    <hr class="my-4">
    <p>If you believe this is a mistake, please contact the system administrator.</p>

    <div class="d-flex justify-content-center gap-2 mt-4">
        {% if not request.user.is_authenticated %}
            <a href="{% url 'login' %}" class="btn btn-primary">Login</a>
        {% endif %}
        <a href="{% url 'net_frontend:switch_list' %}" class="btn btn-primary">Switch List</a>
        <a href="{% url 'wiki:wiki_list' %}" class="btn btn-info">Wiki</a>
        <a href="{% url 'bugtracker:new' %}" class="btn btn-warning">Bugtracker</a>
    </div>
</div>
{% endblock %}