{{ settings.GRIDRULER }}
{% if settings.GRIDRULER == True %}


<div class="row">
    <div class="col border border-warning-subtle">1</div>
    <div class="col border border-warning-subtle">2</div>
    <div class="col border border-warning-subtle">3</div>
    <div class="col border border-warning-subtle">4</div>
    <div class="col border border-warning-subtle">5</div>
    <div class="col border border-warning-subtle">6</div>
    <div class="col border border-warning-subtle">7</div>
    <div class="col border border-warning-subtle">8</div>
    <div class="col border border-warning-subtle">9</div>
    <div class="col border border-warning-subtle">10</div>
    <div class="col border border-warning-subtle">11</div>
    <div class="col border border-warning-subtle">12</div>
</div>

{% endif %}

