{% extends "base.html" %}

{% block content %}
<div class="container mt-3">
    <button class="btn btn-primary nc-btn nc-btn-primary">Primary Button</button>
    <button class="btn btn-secondary nc-btn nc-btn-secondary">Secondary Button</button>
    <button class="btn btn-success nc-btn nc-btn-success">Success Button</button>
    <button class="btn btn-danger nc-btn nc-btn-danger">Danger Button</button>
    <button class="btn btn-primary nc-btn nc-btn-loading" disabled>
        <span class="spinner-border spinner-border-sm" role="status" aria-hidden="true"></span>
        Loading...
    </button>
</div>
{% endblock %}
