{% extends "base.html" %}

{% block content %}
<div class="container mt-3 nc-dark-theme">
    <div class="row">
        <div class="col-12 col-md-6 nc-d-sm-none nc-d-md-block nc-d-lg-flex">
            <div class="card nc-card">
                <div class="card-body nc-card-body">
                    <h5 class="card-title nc-card-title">Mobile Responsive Card</h5>
                    <p class="card-text nc-card-text">This card will resize on mobile devices.</p>
                    <button class="btn btn-primary nc-btn nc-btn-primary">Action</button>
                </div>
            </div>
        </div>
        <div class="col-12 col-md-6">
            <div class="card nc-card">
                <div class="card-body nc-card-body">
                    <h5 class="card-title nc-card-title">Another Card</h5>
                    <p class="card-text nc-card-text">This card will also resize on mobile devices.</p>
                    <button class="btn btn-primary nc-btn nc-btn-primary">Action</button>
                </div>
            </div>
        </div>
    </div>
</div>
{% endblock %}
