{% extends "base.html" %}

{% block content %}
<div class="container mt-3">
    <form hx-post="/tests/form/" hx-trigger="submit">
        <div class="mb-3">
            <label for="name" class="form-label">Name</label>
            <input type="text" class="form-control" id="name" name="name" required aria-required="true">
            <div class="invalid-feedback">Please enter a name.</div>
        </div>
        <button type="submit" class="btn btn-primary nc-btn nc-btn-primary">Submit</button>
    </form>
</div>
{% endblock %}
