{% extends "base.html" %}

{% block content %}
<div class="container mt-3">
    <div id="error-message" class="alert alert-danger network-error" style="display: none;">
        Request too large
    </div>
    <form hx-post="/tests/network-failure/" hx-trigger="submit" hx-on:error="document.getElementById('error-message').style.display = 'block';">
        <div class="mb-3">
            <label for="name" class="form-label">Name</label>
            <textarea class="form-control" id="name" name="name" rows="10"></textarea>
        </div>
        <button type="submit" class="btn btn-primary nc-btn nc-btn-primary">Submit</button>
    </form>
</div>
{% endblock %}
